:root {
    --color-light-green: #A3B18A;
    --color-cream: #F6EEC9;
    --color-brown: #7F5539;
    --color-pale-ivory: #FAF3E0;
    --color-gray: #6C757D;
    --color-mint: #D4E2C3;
    --color-off-white: #FAF8EF;
    --color-light-brown: #A57D5D;
    --color-white: #FFFCF5;
    --color-light-gray: #A0A7B0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: var(--color-pale-ivory);
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    padding: 40px;
    background-color: var(--color-white);
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.logo {
    display: block;
    margin: 0 auto 20px;
    width: 114px;
}

input:focus {
    outline: none;
    border-color: var(--color-light-green);
}

h1 {
    text-align: center;
    color: var(--color-brown);
    margin-bottom: 5px;
}

.subtext {
    text-align: center;
    color: var(--color-gray);
    margin-bottom: 25px;
}

form label {
    display: block;
    margin: 12px 0 5px;
    color: var(--color-light-brown);
    font-weight: bold;
}

input,
select {
    width: 100%;
    padding: 12px;
    border: 2px solid var(--color-mint);
    border-radius: 20px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: var(--color-off-white);
    color: var(--color-gray);
}

input::placeholder {
    outline: none;
    color: var(--color-gray);
}

button {
    width: 100%;
    background-color: var(--color-light-green);
    color: var(--color-white);
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: var(--color-brown);
}

.note {
    text-align: center;
    font-size: 20px;
    color: var(--color-gray);
    margin-top: 10px;
}

.login-link {
    text-align: center;
    margin-top: 20px;
}

.login-link a {
    color: var(--color-light-brown);
    text-decoration: none;
    font-weight: bold;
}

.login-link a:hover {
    text-decoration: underline;
}
