body {
  font-family: Arial, sans-serif;
  background-color: #F6EEC9;
  margin: 0;
  padding: 0;
}

header {
  background-color: #F6EEC9;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #7F5539; /* Línea de separación */
}

.logo {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.titulo-app {
  font-family: 'Grow West', sans-serif;
  font-size: 30px;
  color: #A57D5D;
}

nav a {
  margin-right: 15px;
  text-decoration: none;
  color: #F6EEC9;
}

.icon {
  font-size: 20px;
}

main {
  padding: 20px;
  max-width: 600px;
  margin: auto;
  background-color: #F6EEC9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  border-radius: 8px;
}

h1 {
  font-size: 20px;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  margin-bottom: 15px;
}

.toggle-buttons {
  margin-bottom: 20px;
}

.toggle-buttons button {
  margin-right: 10px;
  padding: 6px 15px;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  font-weight: bold;
}

input[type="text"], select {
  padding: 8px;
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilo para los botones */
button {
  margin-top: 10px;
  padding: 8px 15px;
  background-color: #A3B18A;
  color: #7F5539; /* Color de texto cambiado a #7F5539 */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  animation-timing-function: ease-in-out;
  animation-duration: 0.3s;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.2s;
}

/* Efecto hover */
button:hover {
  background-color: #D4E2C3;
  color: #7F5539; /* Mantiene el color de texto en hover */
  transform: scale(1.05); /* Añade un pequeño aumento de tamaño */
}

/* Efecto active */
button:active {
  background-color: #A3B18A;
  color: #7F5539; /* Mantiene el color de texto en active */
  transform: scale(0.95); /* Reduce el tamaño del botón al presionarlo */
  animation-timing-function: ease-in-out;
  animation-duration: 0.3s;
  transition: background-color 0.3s ease-in-out;
}

/* Estilo para el botón deshabilitado */
button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
  background-color: #D4E2C3;
  color: #A57D5D;
  animation-timing-function: ease-in-out;
  animation-duration: 0.3s;
  transition: background-color 0.3s ease-in-out;
}

button:disabled:hover {
  cursor: not-allowed;
  opacity: 0.5;
  background-color: #D4E2C3;
  color: #A57D5D;
  animation-timing-function: ease-in-out;
  animation-duration: 0.3s;
  transition: background-color 0.3s ease-in-out;
}
